*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(66, 66, 66);
    background-image: url(./Assests/body_bg.png);
   
}




/* Navbar1 */
#navbar1{
    max-width: 100%;
    min-height: 10%;
    background-color: #f5f5f5;
    border: 2px red solid;
    
}
/* Navbar1 */
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* Navbar1 */
#navbar1 li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

/* Navbar1 */
.navbar-container li img{
    width: 150px;
}

    


/* Navbar2 */
#navbar2{
    
    max-width: 100%;
    max-height: fit-content;
    background-color: #ffffff;
    border: 2px red solid;
    
    
}
/* Navbar2 */
.navbar2-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    
}

/* Navbar2 */
#navbar2 li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    
}

/* Navbar2 */
.navbar-container2 li img{
    width: 10px;
}

/* section 1 start  */

/* box1 */
#box-1{
    border: 10px solid red;
}


.first{
    min-height: 600px;
    border-radius: 10px;
    background-color: #313131;   
    align-items: center; 


}


.image > img {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    align-items: center !important; 
    align-content: center;  
}



.second{
    background-color: orange;
    border-radius: 25px;
    align-items: center;
    width: 430px;
    
    
    
    
}


.second-img > img {
    width: 430px;
    background-repeat: no-repeat;
    background-size: cover;    
    
    
}

.third{
    border-radius: 10px;
    background-color: #008ffd;   
    align-items: center; 
}

.forth{
    border-radius: 10px;
    background-color: #008ffd;   
    align-items: center; 

}